.content-wrap {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    @include respond-to(xs) {
        width: 100%;
        overflow: hidden;
    }
    @include respond-to(sm) {
        width: 100%;
    }
    @include respond-to(md) {
        width: 90%;
    }
    @include respond-to(lg) {
        width: 80%;
    }
    @include respond-to(xl) {
        width: 70%;
    }
}

.el-header {
    background-color: #333233;
    color: white;
    padding: 0 !important;
    .header {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        .logo {
            font-size: 40px;
            font-weight: bold;
            @include respond-to(xs) {
                font-size: 28px;
            }
        }

        .nav-item {
            margin-left: 30px;
            font-size: 14px;
            cursor: pointer;
            color: rgba($color: #fff, $alpha: 0.8);
            &:hover {
                color: white;
            }
        }
        // Header 移动端样式
        .nav-mobile-wrap {
            position: absolute;
            z-index: 99;
            top: 60px;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #333;
            padding-bottom: 20px;
            .nav-mobile-item {
                margin-left: 0;
                display: block;
                text-align: center;
                padding: 15px;
            }
        }
        .nav-mobile {
            width: 40px;
            cursor: pointer;
            align-items: center;
            i {
                background: #eee;
                display: block;
                width: 25px;
                height: 2px;
                margin: 6px auto;
                transform-origin: left;
                transition: 0.3s;
            }
        }
        .nav-active {
            i:nth-child(1) {
                transform: rotate(40deg);
                width: 25px;
            }
            i:nth-child(2) {
                opacity: 0;
            }
            i:nth-child(3) {
                transform: rotate(-40deg);
                width: 25px;
            }
        }
    }
}

.el-main {
    background-color: #f5f5f7;
    width: 100%;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 !important;
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }

    .title-wrap {
        margin-top: 64px;
        @include respond-to(xs) {
            margin-top: 32px;
        }
        .title {
            font-size: 40px;
            letter-spacing: 2px;
            padding-right: 20px;
            font-weight: bold;
            @include respond-to(xs) {
                display: block;
                margin-bottom: 10px;
                font-size: 32px;
            }
            &-desc {
                font-size: 16px;
            }
        }
    }

    .swiper {
        overflow: visible;
        width: 100%;
        --swiper-navigation-color: white;
        --swiper-navigation-size: 24px;

        &:hover {
            .swiper-button-next,
            .swiper-button-prev {
                opacity: 1;
            }
        }

        .swiper-button-disabled {
            display: none;
        }

        .swiper-button-prev {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            opacity: 0;
            transition: 0.5s;
            background: rgba($color: #000000, $alpha: 0.3);
        }
        .swiper-button-next {
            @extend .swiper-button-prev;
        }
        @include respond-to(xs) {
            .swiper-button-prev {
                display: none;
            }
        }
        @include respond-to(sm) {
            .swiper-button-prev {
                left: 0;
            }
            .swiper-button-next {
                left: unset;
                right: 0;
            }
        }
        @include respond-to(md) {
            .swiper-button-prev {
                left: -5%;
            }
            .swiper-button-next {
                left: unset;
                right: -5%;
            }
        }
        @include respond-to(lg) {
            .swiper-button-prev {
                left: -10%;
            }
            .swiper-button-next {
                left: unset;
                right: -10%;
            }
        }
        @include respond-to(xl) {
            .swiper-button-prev {
                left: -20%;
            }
            .swiper-button-next {
                left: unset;
                right: -20%;
            }
        }
    }
    // 视觉感知能力
    .model1 {
        display: flex;
        overflow: visible;

        .model-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: none;
            width: 390px;
            height: 520px;
            border-radius: 15px;
            color: white;
            box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.2);
            margin: 40px 40px 0 0;
            padding: 60px 40px;
            transition: 0.3s;
            overflow: hidden;
            img {
                position: absolute;
                z-index: 9;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                user-select: none;
                object-fit: cover;
            }
            .show-more {
                cursor: pointer;
            }
            div {
                position: absolute;
                left: 0;
                top: 0;
                padding: 60px 40px;
                width: 100%;
                height: 100%;
                z-index: 99;
                background-color: #0a0a0a23;
            }
            p {
                font-size: 28px;
                margin: 0;
                margin-bottom: 16px;
            }
            span {
                font-size: 14px;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .show-more {
                    text-decoration: underline;
                }
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            @include respond-to(xs) {
                width: 300px;
                height: 420px;
                margin: 20px 20px 0 0;
                padding: 30px 20px;
            }
        }
    }

    // 视觉感知云平台
    .model3 {
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: 373px;
            height: 260px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            overflow: hidden;
            p {
                font-size: 28px;
                margin: 24px 0 16px;
            }
            span {
                line-height: 25px;
                font-size: 14px;
            }
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            @include respond-to(xs) {
                &:nth-child(odd) {
                    margin-right: 15px;
                }
                margin: 0;
                margin-top: 15px;
                width: 47%;
                padding: 20px;
                &-title {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                p {
                    margin: 16px;
                    font-size: 20px;
                }
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            @include respond-to(sm) {
                &:nth-child(odd) {
                    margin-right: 25px;
                }
                margin: 0;
                margin-top: 25px;
                width: 45%;
                padding: 30px;
            }
            @include respond-to(xl) {
                &:nth-child(3n) {
                    margin-right: 0;
                }
                margin: 25px 25px 0 0;
                width: 31%;
                padding: 40px;
                max-width: 380px;
            }
        }
    }

    // PDF
    .pdf-wrap {
        display: flex;
        overflow: visible;
        margin-bottom: 60px;
        .model-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: none;
            border-radius: 15px;
            margin: 40px 40px 0 0;
            transition: 0.3s;
            overflow: hidden;

            width: 640px;
            height: auto;
            background: white;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
            color: $black;

            .field {
                color: #666;
                display: block;
            }
            span {
                line-height: 20px;
            }

            .pdf-content {
                width: 100%;
                padding: 22px 32px;
                p {
                    font-size: 24px;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }

            .img-wrap {
                width: 100%;
                height: 320px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    position: static;
                    object-fit: cover;
                }
            }

            @include respond-to(xs) {
                width: 310px;
                .img-wrap {
                    height: 180px;
                }
            }
        }
    }
}

.el-footer {
    text-align: center;
    line-height: 35px;
    height: auto !important;
    padding: 55px !important;
    @include respond-to(xs) {
        padding: 25px !important;
    }
}

.dialog {
    border-radius: 15px !important;
    overflow: hidden;

    --swiper-navigation-color: #999;
    --swiper-navigation-size: 16px;
    .swiper {
        height: 100%;
    }
    .swiper-button-prev {
        transition: 0.5s;
        top: unset;
        left: 40%;
        right: auto;
        bottom: 5px;
    }
    .swiper-button-next {
        @extend .swiper-button-prev;
        right: 40%;
        left: auto;
    }
    .swiper-slide {
        opacity: 0 !important;
        &-active {
            opacity: 1 !important;
        }
    }

    @include respond-to(xs) {
        width: 100% !important;
    }
    @include respond-to(sm) {
        width: 95% !important;
    }
    @include respond-to(md) {
        width: 80% !important;
    }
    @include respond-to(lg) {
        width: 70% !important;
    }
    @include respond-to(xl) {
        width: 60% !important;
    }
    .el-dialog__header {
        display: none;
    }
    .el-dialog__body {
        padding-bottom: 20px !important;
        height: 78vh;
        @include respond-to(xs) {
            height: 50vh;
            padding: 10px 0 16px !important;
        }
    }
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 99;
        width: 60px;
        height: 60px;
        transition: 0.3s;
        &:hover {
            transform: rotate(180deg);
        }
        @include respond-to(xs) {
            width: 48px;
            height: 48px;
        }
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0 10% 40px;
        background: white;
        .title {
            font-size: 28px;
            line-height: 60px;
        }
        .desc {
            margin-bottom: 16px;
            // height: 40px;
        }
        .el-image {
            border-radius: 5px;
            height: calc(100% - 112px);
        }
        video {
            width: 100%;
            height: calc(100% - 112px);
            object-fit: contain;
            border-radius: 5px;
        }
        @include respond-to(xs) {
            padding: 0 5% 24px;
            video {
                height: 29vh;
            }
            .el-image {
                height: 29vh;
            }
        }
    }
}

.el-popup-parent--hidden {
    padding-right: 0 !important;
}
